SEPOLIA_RPC="https://ethereum-sepolia-rpc.publicnode.com"
DEV_PRIVATE_KEY="0xABC............."
SIGNER_1_ADDR="0x123..........."
SIGNER_2_ADDR="0x123..........."
SIGNER_3_ADDR="0x123..........."
ETHERSCAN_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"